/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Cambria, serif;
    line-height: 1.6;
}

header, footer, nav {
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Theme-specific styles */
.dark-theme {
    background-color: #111;
    color: #fff;
}

.cyber-theme {
    background-color: #0c0c0c;
    color: #00ff00;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

/* Background image */
body {
    background-image: url('https://github.com/Cybertalkswithali/cybertalkswithali.github.io/blob/main/Theme.png'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
}
